---
import type { CollectionEntry } from 'astro:content';

interface Props {
  personne: CollectionEntry<"personnes">;
}
const { personne } = Astro.props;
---

<>: <a href={`/personnes/${personne.id}`} class="text-blue-700 hover:underline">{personne.data.nom}</a></>
